<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand" translate>ELECTRONICAL_MEDICAL_REPORTS</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li>
                    <app-language-switcher></app-language-switcher>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <div class="container text-center">
        <span class="text-muted">Simplyfi-IT LLC</span>
    </div>
</footer>